<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/styles.css' %}">
    <title>Корзина</title>
</head>
<body>
    <header>
        <h1>THE AUTO EMPORIUM</h1>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'car_list' %}">Каталог</a>
            <a href="{% url 'cart' %}">Корзина</a>
            <a href="{% url 'login' %}">Авторизация</a>
        </nav>
    </header>
    <div class="container">
        <h2>Корзина</h2>
        <ul class="order-list">
            {% for order in orders %}
                <li class="order-item">
                    <h3>{{ order.car.name }}</h3>
                    <p>Количество: {{ order.quantity }}</p>
                    <p class="price">Цена: {{ order.car.price }} руб.</p>
                </li>
            {% empty %}
                <li>Ваша корзина пуста.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'car_list' %}" class="btn">Перейти в каталог</a>
        <a href="{% url 'clear_cart' %}" class="btn clear-cart">Очистить корзину</a>

        {% if orders %}
        <h3>Оформить заказ</h3>
        <form action="{% url 'checkout' %}" method="post">
            {% csrf_token %}
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="address">Адрес доставки:</label>
            <input type="text" id="address" name="address" required>

            <button type="submit" class="btn">Оформить заказ</button>
        </form>
        {% endif %}
    </div>
    <footer class="footer">
    <div class="footer-container">
        <div class="footer-section about">
            <h3>О нас</h3>
            <p>Мы - ваш надежный партнер в мире автомобилей. Предлагаем широкий ассортимент новых автомобилей, а также профессиональные услуги по продаже. У нас вы найдете идеальный автомобиль, который соответствует вашим потребностям и бюджету.</p>
        </div>
        <div class="footer-section links">
            <h3>Полезные ссылки</h3>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Доставка и возврат</a></li>
                <li><a href="#">Часто задаваемые вопросы</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h3>Контакты</h3>
            <p>Телефон: +7 (931) 258-73-09</p>
            <p>Email: yalex2003@mail.ru</p>
            <p>Адрес: ул. Новобульварная, 24, Чита, Россия</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 THE AUTO EMPORIUM. Все права защищены.</p>
    </div>
</footer>
</body>
</html>
